@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header {
    background-color: #fff;
    color: #333;
    height: 70px;
  
}

.navbar {
    display: flex;
    justify-content: space-around;
}

.navbar h3 {
    letter-spacing: 1.8px;
}

.content h2 {
    letter-spacing: 2px;
}

.content p {
    letter-spacing: 1px;
}

h3 {
    font-weight: bold;
    line-height: 70px;
    cursor: pointer;
}

.links {
    display: flex;
}

.links li {
    letter-spacing: 1.2px;
    list-style: none;
    line-height: 50px;
    margin:10px;
    cursor: pointer;
}

.links li:hover {
    color: crimson;
}

ul li {
    font-weight: bold;
}


.info {
    background-color: #9271f6;
    width: 100%;
    height: 270px;
}

.content{
    padding-top: 40px;
    color: #fff;
    text-align: center;
}

.content h2 {
    font-size: 32px;
    padding-bottom: 15px;
}

button {
    font-size: 18px;
    padding: 8px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    cursor: pointer;
}


.blog {
    background-color: pink;
    height: 400px;
}

.blog h3 {
    font-size: 24px;
    text-align: center;
    letter-spacing: 1.8px;
}

.blog-input h2 {
    color: #333;
    margin-left: 270px;
}

.blog-container {
    text-align: center;
    margin: 0.7rem 0;
    padding: 0.5rem 0;
}

#blog-title {
    width: 700px;
    border: 2px solid #fff;
    font-size: 18px; 
    padding: 4px;
    margin-left: 16px;
    margin-bottom: 20px;
    border-radius: 5px;
    outline: none;
}

#blog-img {
    width: 700px;
    border: 2px solid #fff;
    font-size: 18px; 
    padding: 4px;
    margin-left: 9px;
    margin-bottom: 20px;
    border-radius: 5px;
    outline: none;
}

#blog-content {
    width: 700px;
    border: 2px solid #fff;
    font-size: 18px; 
    padding: 15px;
    margin-left: 162px;
    border-radius: 5px;
    outline: none;
}

.btn {
    margin-left: 500px;
}

